.filter-card {
  background: rgb(249 250 251);
  border-radius: 8px;
  padding: 1.5rem;
//   border: 1px solid #e5e7eb;
}

.filter-title {
  font-size: 1.125rem;
  font-weight: 600;
  color: #1f2937;
  margin: 0 0 1.5rem 0;
  padding-bottom: 1rem;
  border-bottom: 1px solid #e5e7eb;
}

.filter-section {
  margin-bottom: 1.5rem;
}

.filter-label {
  display: block;
  font-size: 1rem;
  font-weight: 500;
  color: #1f2937;
  margin-bottom: 1rem;
}

.slider-container {
  margin-bottom: 0.5rem;
  padding: 0 0.5rem;

    input{
        width: 100%;
    }
}



.price-labels {
  display: flex;
  justify-content: space-between;
  font-size: 0.875rem;
  color: #6b7280;
  margin-top: 0.5rem;

  .min-price,
  .max-price {
    font-weight: 500;
  }
}

.apply-filter-btn {
  width: 100%;
  padding: 0.75rem;
  background: #2563eb;
  color: white;
  border: none;
  border-radius: 6px;
  font-size: 1rem;
  font-weight: 600;
  cursor: pointer;
  transition: background 0.3s ease;

  &:hover {
    background: #1d4ed8;
  }

  &:active {
    transform: scale(0.98);
  }
}
